DOMAIN=api.example.com
API_KEY=your-secret-key

OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=

ANTHROPIC_API_KEY=
ANTHROPIC_DEFAULT_MODEL=

GEMINI_API_KEY=
GEMINI_DEFAULT_MODEL=

OPENROUTER_API_KEY=
OPENROUTER_DEFAULT_MODEL=
